{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <a style="text-align: right;" class="btn btn-primary" href="{% url 'login'%}">login</a>
    <a style="text-align: right;" class="btn btn-primary" href="{% url 'register' %}">Register</a>

    <table class="table table-info">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">Last NAME</th>
                <th scope="col">HOBBY</th>
                <th scope="col">EMAIL</th>
                <th scope="col">PHONE</th>
                <th scope="col">LOCATION</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for student in student %}
            <tr>
                <th scope="row">{{ student.id }}</th>
                <td><a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'read' student.id %}">{{ student.name }}</a></td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.hobby.name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.phone }}</td>
                <td>{{ student.location }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'read' student.id %}"><i class="fa-solid fa-eye"></i></a>
                    <a class="btn btn-warning" href="{% url 'student_update' student.id %}"><i class="fa-solid fa-pencil-alt"></i></a>
                    <a class="btn btn-warning" href="{% url 'delete' student.id %}"><i class="fa-solid fa-trash"></i></a>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
