{% extends 'base.html' %}


{% block content %}


<div class="container mt-5" style="background-color: rgb(211, 238, 228);">
    <a class="btn btn-success" href="{% url 'reg' %}"><i class="fa-solid fa-circle-plus"></i> Create</a>
    <table class="table table-info">
        <thead>
          <tr>  
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">Buttons</th>
          </tr>
        </thead>
        <tbody>
            {% for data in student %}
          <tr>
            <th scope="row">{{data.id}}</th>
            <td>{{data.first_name}}</td>
            <td>{{data.last_name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.username}}</td>
            <td>
                <a class="btn btn-info" href="{% url 'read' data.id %}"><i class="fa-solid fa-book"></i></a>
                <a class="btn btn-danger" href="{% url 'delete' data.id %}"><i class="fa-solid fa-trash"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock content %}